<h2>Reset Your Password</h2>
<form action="<%= password_reset_url(@password_reset) %>" method="post" accept-charset="utf-8">
  <input
    type="hidden",
    name="authenticity_token",
    value="<%= form_authenticity_token %>">

  <input type="hidden" name="_method" value="patch">

  <input
    type="hidden"
    name="reset_token",
    value="<%= @password_reset.reset_token %>">

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <p><input type="submit" value="Reset Password"></p>
</form>